<html ng-app="myApp">

<head>
    <title>Angular Testing Page</title>
</head>

<body>
    <h1>Angular Testing Page</h1>
    <div ng-controller="mainController">
        <p>Enter your Name:
            <input type="text" ng-model="name">
        </p>
        <p>Hello <span ng-bind="name"></span>!</p>
        <button ng-click="GetUserDetails()">GetUserName</button>
        {{UserDetails}}
    </div>
    <script src="angular.min.js">
    </script>
    <script src="app.js"></script>
    <script src="filter.js"></script>
    <script src="mainController.js"></script>
</body>

</html>